<!DOCTYPE html>
<html>
<head>
	<title>Error!</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
 That book's title is to long, how can it possibly be any good?<br>
 <a href="/main">list of good books</a><a href="/new">Add a new book</a>
</body>
</html>
