<!DOCTYPE html>
<html>
<head>
	<title>Error!</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
<div class="container">
	<div class="header"><span class="margin">Error!</span></div>
 <span style="margin: 20px 0px 0px 10px; line-height:30px;">That book's title is to long, how can it possibly be any good?</span><br>
 <br>
  </div>
 	<a href="new"><div class="button">Add book</div></a>
 	<a href="main"><div class="button">Good Books</div></a>
 </div>
</body>
</html>
