<!DOCTYPE html>
<html>
<head>
	<title>This is a list of good books</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>



	<h1>These are good books</h1>
	<ul>
	<% @good_books.each do |book| %>
	<li class="me"><%= book.title %><br><%= book.author %><i class="icon-minus pull-right"><a href="good_books/<%= book.id %>/show">delete</a><br><a href="good_books/<%= book.id %>/edit">edit</a></i></li>
	<% end %>
	</ul>
	<br>
</div>
	<a href="new"><button id="add">Add book</button></a>



</body>
</html>
</body>
</html>