<!DOCTYPE html>
<html>
<head>
	<title>This is a list of good books</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>



<h1>These are good books</h1>

<ul>
<% @good_books.each do |book| %>
<li><%= book %></li>
<% end %>
</ul>
<a href="new">Add a new book</a>



</body>
</html>
</body>
</html>