<!DOCTYPE html>
<html>
<head>
	<title>This is a list of good books</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>


<div class="container">
	<div class="header"><span class="margin">These are good books</span></div>
	<ul>
	<% @good_books.each do |book| %>
	<a href="good_books/delete/<%= book.id %>"><li><%= book.title %>&nbsp;by&nbsp;<%= book.author %></a></li>
	<% end %>
	</ul>
	<br>
</div>
	<a href="new"><div class="button">Add book</div></a>



</body>
</html>
</body>
</html>