<!DOCTYPE html>
<html>
<head>
	<title>Add another book</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
<form action="add_book" method="post">
	<input type="text"  id="book" name="book">
	<input type="submit">
</form>
</body>
</html>