<!DOCTYPE html>
<html>
<head>
	<title>Add another book</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
<div class="container">
	<div class="header"><span class="margin">Add a book</span></div>
	<div style="margin: 10px 0px 10px 10px;" ><form action="add_book" method="post">
	<input type="text"  id="book" name="book">
	<input type="submit">
</form>
	<br>
</div>
</div>
 	<a href="main"><div class="button">Good Books</div></a>
	




</form>
</body>
</html>